@value color-orange, color-pink, color-white from 'styles/colors.scss';

button.button {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  border: 0;
  background: color-orange;
  align-items: center;
  justify-content: center;
  position: relative;
}

.items {
  position: absolute;
  right: -4px;
  top: -4px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: color-pink;
  line-height: 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: color-white;
  font-size: 0.75em;
}
