@value color-white, color-red, color-green, color-orange from "styles/colors.scss";

.error {
  color: color-red;
}

.success {
  color: color-green;
}

.field {
  width: 100%;
}

.message {
  margin: 0.66rem 0;
}

button.submitButton {
  padding: 0.5rem 0;
  width: 100%;
  background: color-orange;
  color: color-white;
  border-radius: 12px;
  margin-top: 0.33rem;
  position: relative;

  &:disabled {
    opacity: 0.75;
  }
}
