@import "styles/variables.scss";

.loader {
  position: fixed;
  width: calc(100vw - $navigation-width);
  height: 100vh;
  background-color: rgb(0 0 0 / 10%);
  top: 0;
  left: $navigation-width;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fetchingLoader {
  composes: loader;
  width: fit-content;
  height: unset;
  top: 0.3em;
  right: 0.3em;
  display: inline;
  background: transparent;
  left: unset;
}
