@import "styles/variables.scss";

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: $navigation-width;
  padding: 1em 0.66em;
  align-items: center;

  .list {
    height: 10.3125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .logo {
    height: 2.5rem;
  }
}
