@value color-black from 'styles/colors.scss';

.product {
  display: flex;
  max-width: 182px;
  padding: 0.8125rem 1rem;
  position: relative;
  box-shadow: 0px 2px 12px rgb(0 0 0 / 5%);
  border-radius: 12px;
  min-width: 140px;
  align-items: center;
}

.name {
  width: calc(100% - 24px);
  margin-right: 0.3125rem;
  font-size: 14px;
  max-width: 79px;
  color: color-black;

  &:hover {
    text-decoration: underline;
  }

  @media screen and (min-width: 420px) {
    max-width: unset;
  }
}
