.container {
  display: flex;
  align-items: center;
}

.date {
  line-height: 1.25em;
  margin-right: 0.5em;
}

.icon {
  transform: scale(0.835);
}

.date,
.icon {
  color: #89898d;
  fill: #89898d;
}
