.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: (-50%, -50%);
}

.statistics {
  padding: 0 clamp(0.66rem, 8vw, 10rem);
  max-width: 880px;
  margin: 0 auto;
}

.chart {
  position: relative;
  width: calc(100% + 6px);
  display: flex;
  justify-content: center;
}

.statistics,
.rankings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rankings {
  gap: clamp(1rem, 8vw, 4rem);
  padding: 0.5rem 0 4rem 0;
  width: 100%;

  @media screen and (min-width: 576px) {
    flex-direction: row;
    align-items: baseline;
  }
}
