@value color-white, color-maya from "styles/colors.scss";

.container {
  @mixin button {
    padding: 1rem;
    position: relative;

    &:hover {
      text-decoration: underline;
    }
  }

  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
  background: color-white;
  margin: 0 -1rem;

  .cancelButton {
    text-align: center;

    @include button;
  }

  .completeButton {
    background-color: color-maya;
    color: color-white;
    border-radius: 12px;

    @include button;
  }
}
