@value color-white, color-maya from "styles/colors.scss";

@mixin button {
  padding: 1rem;
  position: relative;

  &:hover {
    text-decoration: underline;
  }
}

.container {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
  background: color-white;
  margin: 0 -1rem;
}

button.cancelButton {
  text-align: center;

  @include button;
}

button.completeButton {
  background-color: color-maya;
  color: color-white;
  border-radius: 12px;

  @include button;
}
