@value color-black from './colors.scss';

.app {
  *,
  *::before,
  *::before {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  button {
    cursor: pointer;
  }

  *:focus,
  *:focus-visible {
    outline: 2px solid color-black;
  }

  a {
    text-decoration: none;
  }
}
